<mat-list role="list">
    <div class="profile-card">
<img src="https://media.tenor.com/9z_YpLGzqf4AAAAM/jasonearlsgif-jasonearlsgifs.gif" alt=" no image">
<b><p>Admin</p></b>
<p>adminG@xyz.com</p>
    </div>
    <mat-divider></mat-divider>
    <p mat-subheader><b>pages</b></p>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Courses</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/">Employee</a>
  </mat-list>
  
